@import "./variables";

.pulse-button {
  margin: 0 auto;
  height: 62px;
  width: 92px;
  position: absolute;
  align-items: center;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff25;
  border-radius: 2px;
  background-color: #0077ff;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#ffffff, 1);
  -webkit-animation: pulse 2.2s infinite;
  transition: 700ms;
  font-size: 22px;
  color: #1d1d1d8f;
  display: grid;
  align-content: center;
  text-align: center;
  &:hover {
    background-color: #6819fc;
  }
}

.pulse-button:hover {
  transition-delay: 400ms;
  background: $main-btn-hover;
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(#ffffff, 0);
  }
  50% {
    box-shadow: 0 0 14px 6px rgba(#0077ff, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(#ffffff, 0);
  }
}

.explode-btn {
  position: relative;
  border-radius: 2px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  height: 62px;
  width: 92px;
  box-shadow: 0 0 0 0px rgba(#6829ce, 0);
  -webkit-animation: example 4.4s infinite;
  &:hover {
    -webkit-animation: none;
  }
}

.explode-btn {
  -webkit-animation: example;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 900ms; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
  background-color: $main-btn;
}

@-webkit-keyframes example {
  0% {
  }
  70% {
    box-shadow: 0 0 12px 4px rgba(#6829ce, 1);
  }
  100% {
    box-shadow: 0 0 12px 4px rgba(#f0dbf6, 0);
  }
}
