$body-bg: #191f2b;
$backgrounds: #363a52f3;
$sections-bg: #c6cfdf;

$txt-first: #f3f3f3;
$txt-second: #44566e;
$span-col: #218ef3;

$main-btn: #2568c0;
$main-btn-hover: #273c5a;

$sections-shadow: 0 0 5px 0px rgba(#2f2f2f, 0.7);
$sections-shadow2: 0 0 5px 1px rgba(#192331, 0.9);
$strokeColor: rgb(166, 156, 175);

$indicatorSize: 24px;
$strokeWidth: 2px;
$pointRadius: 2px;
